@{
  Layout = "_Layout";
}
@using BandTracker.Models;

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="stylesrevised.css" rel="stylesheet" type="text/css" >
<h2>Venue: @Model["selectedVenue"].GetName() </h2>


@if (@Model["venueBands"].Count != 0)
{
  <h4>Here are all the bands in this venue:</h4>
  <ul>
    @foreach (var band in @Model["venueBands"])
    {
      <li>@band.GetDescription()</li>

    }
  </ul>
}
<h4>Add a band to this venue:</h4>
<form action='/venues/@Model["selectedVenue"].GetId()/bands/new' method='post'>
  <label for='band-id'>Select a band</label>
  <select id='band-id' name='band-id' type='text'>
    @foreach (var band in @Model["allBands"])
    {
      <option value='@band.GetId()'>@band.GetDescription()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<br>
<a class="btn btn-primary" href="/" role="button">Return to Main Page</a>
